:root{
    --mr-color-brand:rgb(178, 177, 177);


    /* COLOR PALETTE */
    --mr-color-n-000: #fff;
    --mr-color-n-050: #f5f5f5;
    --mr-color-n-100: #ebebeb;
    --mr-color-n-300: #aeaeae;
    --mr-color-n-500: #353535;
    --mr-color-n-700: #282828;
    --mr-color-n-900: #1a1a1a;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: var(--mr-color-brand);
}

.rc-section-header--logo {
  z-index: 1;
  height: 80px;
  width: 60x;
}
.mr-section-header {
    padding-bottom: 2.2rem;
    padding-top: 1.2rem;
    background-color: var(--mr-color-n-050);
  }

.mr-layout-container {
    padding-left: 1.25em;
    padding-right: 1.25em ;
}

.mr-section-header__layout {
    justify-content: space-between;
  }

.mr-layout-flex{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .mr-section-header--menu-id{
    display: none;
  }

  .mr-section-header--menu-icon {
    cursor: pointer;
    display: block;
    height: 1.2rem;
    padding-bottom: .2rem;
    padding-top: .2rem;
    position: relative;
    width: 1.2rem;
    z-index: 1;
  }

.mr-section-header--menu-icon::before,
.mr-section-header--menu-icon::after {

  content: "";
  height: .150rem;
  width: 1.2rem;
  left: 0;
  position: absolute;
  transition: all 250ms cubic-bezier(.800, .130, .15, .80);
}

.mr-section-header--menu-icon::before {
  top: 0.3rem;
}

.mr-section-header--menu-icon::after {
  top: 0.6rem;
}

.mr-section-header--nav ul{
    width: 100%;
    


}


.mr-section-header--nav ul li{
    display: inline-block;
    margin: 20px 10px 10px 20px;
    


    
}



.mr-section-header--nav-link {
   padding: 4rem;
   text-decoration: none;
   color: black;

  }


  .mr-section-header--nav ul li :hover{
    color: white;
    
  
  }
  

  
 


.head{
    margin: 0 auto;
}

.features {
    max-width: 900px;
    margin: 0 auto;
    
  }
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    justify-items: center;
    margin: 20px;
}

.grid-container .plans{
    width: 300px;
    height: 200px;
    background-color: rgb(240, 255, 255);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 14px 20px -5px rgb(184, 255, 255);
    border: 5px solid yellow;
    text-align: center;
    

}

.grid-container .plans .title{
  font-size: 18px;
  font-weight: 600;
  color: cadetblue;
  margin-bottom: 10px;

}
.grid-container .plans p{
    font-size: 12px;
  margin: 0 20px 10px 0;
  color: cadetblue;
  
  }


.grid-container .plans p{
    text-align: center;
    margin: 10px;

}

.grid-container .plans ul{
    margin: 15px 10px 15px 10px;
    list-style: none;

}

.grid-container .plans li{
text-align: center;
}






.galleries{
    display: block;
    margin: 0 auto;
}


.galleries-container {
    max-width: 830px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 266px 266px 266px ;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 1rem;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.footer{
    
background:#000;
  padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
    }
 .footer .iconos{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .iconos a{
text-decoration:none;
color:gray;

}

.footer .iconos a:hover{
color:#fff;
}

.footer .iconos ul{
width:100%;
}

.footer .iconos ul li{
display:inline-block;
margin:0px 30px;
}

.footer .iconos a i{
font-size:2em;
margin:0% 1%;
}